:root {
    --rich-black: #0d1b1eff;
    --air-superiority-blue: #7798abff;
    --tea-green: #c3dbc5ff;
    --dutch-white: #e8dcb9ff;
    --mimi-pink: #f2cee6ff;

    margin: 0;
}

body {
    margin: 0;
}

/* Header Styling */
header {
    background-color: var(--mimi-pink);
    color: var(--rich-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

header div {
    border: 1px solid black;
}

.about {
    position: relative;
    text-align: center;
    padding: 1rem;
    max-width: 800px;
}

.about h1 {
    color: var(--rich-black);
    position: absolute;
    left: 10%;
}

.about .profile-picture {
    height: auto;
    max-width: 300px;
    margin-right: 1rem;
    float: left;
}

.about-text {
    background-color: var(--tea-green);
    margin-top: 10%;
    padding: 1rem;
    text-align: left;
}

.about-icons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

/* Body Styling */
.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.work-grid h2 {
    grid-column: 1 / -1;
    margin: 0;
}

.project {
    box-shadow: 2px 2px 5px;
}

.description {
    padding: 0rem 1.5rem;
}

.description p {
    margin: 0;
    margin-bottom: 2rem;
}

.description-header {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.description-header h3 {
    margin-right: auto;
}

.screenshot {
    background-color: var(--air-superiority-blue);
    text-align: center;
    padding: 100px;
}

/* Footer Styling */
footer {
    background-color: var(--mimi-pink);
    color: var(--rich-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

footer div {
    border: 1px solid black;
}

.contact {
    position: relative;
    padding: 1rem;
    max-width: 250px;
}

.contact div {
    display: flex;
    gap: 0.5rem;
}

/* Generic Stylings */
.icons {
    height: auto;
    max-width: 2rem;
}

/* Media Queries */
@media (max-width: 850px){
    /* Header Stylings */
    .about {
        max-width: 400px;
    }

    .about h1 {
        left: 40%;
    }

    .about .profile-picture {
        height: auto;
        max-width: 200px;
        margin-right: 1rem;
        float: left;
    }

    .about-text {
        margin-top: 25%;
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        padding: 0rem;
    }

    .contact {
        padding: 0rem;
    }

    picture img {
        margin-top: 1rem;
        height: auto;
        width: 100%;
    }
}